<div>
  <br>
  <br>
</div>
<div class="container">
  <div class="jumbotron">
    <head>
      <h1>WELCOME TO THE RUBY EXAM PROJECT:</h1>
      <h2>Created by: Gianluca Troncossi</h2>

      <style>
        .flex-container {
          display: flex;
          flex-wrap: wrap;
          background-color: lightgray;
        }

        .flex-container > div {
          background-color: lightblue;
          width: 100px;
          margin: 10px;
          text-align: center;
          line-height: 75px;
          font-size: 30px;
        }
      </style>
    </head>
  </div>
</div>

<body>
  <h1>JOE'S PIZZA</h1>
  <p>WELCOME TO JOE'S PIZZA ONLINE STORE</p>
  <div class="flex-container">
    <% @pizza = Pizza.all %>
    <% @pizza.each do |pizza| %>
      <div><%= pizza.pizza_name %></div>
    <%end%>
  </div>
</body>